<app-nav></app-nav>

<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a routerLink="/inicio">CERI</a></li>
            <li class="active">Docentes Entrantes</li>
        </ul>
    </div>

    <div class="col-md-12 jumbotron">
        <h1 class="text-center">Docentes Entrantes</h1>
        <hr class="my-4">
        <br>

        <!--Formulario para buscar los datos de un docente-->
        <form class="form-horizontal" #buscarDatosForm="ngForm">
            <div class="form-group">
                <label class="control-label col-md-2" for="identificacion">Número de identificación:</label>
                <div class="col-md-7">
                    <input type="number" class="form-control" id="identificacion" name="identificacion" placeholder="Ingrese el número de identificación" [(ngModel)]="numero_identificacion.numero" #identificacion="ngModel" required>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-success" [disabled]="!buscarDatosForm.valid" (click)="search()">Buscar</button>
                </div>
            </div>
        </form>

        <!--Formulario que muestra los datos del docente buscado-->
        <form class="form-horizontal" #datosEstudianteForm="ngForm" *ngIf="datos_persona">
            <legend class="text-center"><span class="glyphicon glyphicon-user"></span> Datos Docente</legend>

            <div class="form-group">
                <label class="control-label col-sm-2" for="nombres">Nombres:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="nombres" name="nombres" [(ngModel)]="datos_persona.nombres" #nombres="ngModel" readonly>
                </div>

                <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="datos_persona.apellidos" #apellidos="ngModel" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pais_procedencia">País de procedencia:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="pais_procedencia" name="pais_procedencia" [(ngModel)]="datos_persona.pais_procedencia" #pais_procedencia="ngModel" readonly>
                </div>

                <label class="control-label col-sm-2" for="direccion">Dirección:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="datos_persona.direccion" #direccion="ngModel" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="telefono">Teléfono:</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="datos_persona.telefono" #telefono="ngModel" readonly>
                </div>
            </div>
        </form>

        <div *ngIf="!datos_persona && identificacion.touched " class="alert alert-danger col-md-12">
            <span class="glyphicon glyphicon-warning"></span> No se encontro ningún docente
        </div>

        <!--Formulario con los datos de la movilidad-->
        <form class="form-horizontal" #datosMovilidadForm="ngForm" *ngIf="datos_persona">

            <legend class="text-center"><span class="glyphicon glyphicon-globe"></span> Datos Movilidad</legend>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pais_origen">País de origen:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="pais_origen" id="pais_origen" [(ngModel)]="datos_movilidad.pais_origen" #pais_origen="ngModel" required>
                        <option *ngFor="let pais of paises" [value]="pais.Id">{{ pais.Nombre }}</option>
                    </select>
                    <div *ngIf="pais_origen.invalid && (pais_origen.dirty || pais_origen.touched)" class="alert alert-danger">
                        <div *ngIf="pais_origen.errors.required">
                          El pais de origen es requerido
                        </div>
                      </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="tipo_movilidad">Tipo de movilidad:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="tipo_movilidad" id="tipo_movilidad" [(ngModel)]="datos_movilidad.tipo_movilidad" #tipo_movilidad="ngModel" required disabled>
                        <option value="nacional">Nacional</option>
                        <option value="internacional">Internacional</option>
                    </select>
                    
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="fecha_inicio">Fecha de inicio:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" [(ngModel)]='datos_movilidad.fecha_inicio' (change)="calcularDuracionEstancia()" #fecha_inicio="ngModel" required>
                    <div *ngIf="fecha_inicio.invalid && (fecha_inicio.dirty || fecha_inicio.touched)" class="alert alert-danger">
                        <div *ngIf="fecha_inicio.errors.required">
                            La fecha de inicio es requerida
                        </div>
                    </div>
                </div>
                <label class="control-label col-sm-2" for="fecha_fin">Fecha de finalización:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" [(ngModel)]='datos_movilidad.fecha_fin' (change)="calcularDuracionEstancia()" #fecha_fin="ngModel" required>
                    <div *ngIf="fecha_fin.invalid && (fecha_fin.dirty || fecha_fin.touched)" class="alert alert-danger">
                        <div *ngIf="fecha_fin.errors.required">
                          La fecha de fin es requerida
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="datos_movilidad.fecha_inicio != '' && datos_movilidad.fecha_fin != ''" class="alert alert-success col-md-12 text-center">
                Clasificación por duración de la estancia: {{ datos_movilidad.periodo_estancia }} estancia 
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="categoria_movilidad">Categoria de la movilidad: </label>
                <div class="col-sm-10">
                    <select class="form-control" name="categoria_movilidad" id="categoria_movilidad" [(ngModel)]="datos_movilidad.categoria_movilidad" #categoria_movilidad="ngModel" required>
                        <option *ngFor="let categoria of categorias_movilidad" [value]="categoria.Id">{{ categoria.Nombre }}</option>
                    </select>
                    <div *ngIf="categoria_movilidad.invalid && (categoria_movilidad.dirty || categoria_movilidad.touched)" class="alert alert-danger">
                        <div *ngIf="categoria_movilidad.errors.required">
                          La categoria de la movilidad es requerida
                        </div>
                      </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="dependencia">Dependencia receptora: </label>
                <div class="col-sm-10">
                    <select class="form-control" name="dependencia" id="dependencia" [(ngModel)]="datos_movilidad.dependencia" #dependencia="ngModel" required>
                        <option *ngFor="let dependencia of dependencias" [value]="dependencia.Id">{{ dependencia.Nombre }}</option>
                    </select>
                    <div *ngIf="dependencia.invalid && (dependencia.dirty || dependencia.touched)" class="alert alert-danger">
                        <div *ngIf="dependencia.errors.required">
                          La dependencia receptora es requerida
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="area_conocimiento">Área de conocimiento:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="area_conocimiento" name="area_conocimiento" placeholder="Área de conocimiento" [(ngModel)]="datos_movilidad.area_conocimiento" #area_conocimiento="ngModel" required>
                    <div *ngIf="area_conocimiento.invalid && (area_conocimiento.dirty || area_conocimiento.touched)" class="alert alert-danger">
                        <div *ngIf="area_conocimiento.errors.required">
                            El Área de conocimiento es requerida.
                        </div>  
                      </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="concepto_participacion">Concepto de su participación:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="concepto_participacion" name="concepto_participacion" placeholder="Concepto de su participación" [(ngModel)]="datos_movilidad.concepto_participacion" #concepto_participacion="ngModel" required>
                    <div *ngIf="concepto_participacion.invalid && (concepto_participacion.dirty || concepto_participacion.touched)" class="alert alert-danger">
                        <div *ngIf="concepto_participacion.errors.required">
                          El concepto de participación es requerido
                        </div>
                      </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="institucion">Nombre de la IES, Institución o Empresa de origen:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="institucion" id="institucion" [(ngModel)]="datos_movilidad.institucion" #institucion="ngModel" required>
                        <option *ngFor="let institucion of instituciones" [value]="institucion.Id">{{ institucion.Nombre }}</option>
                    </select>
                    <div *ngIf="institucion.invalid && (institucion.dirty || institucion.touched)" class="alert alert-danger">
                        <div *ngIf="institucion.errors.required">
                          La IES, Institución o Empresa de origen es requerida
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="presupuesto">Presupuesto asignado:</label>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#modalPresupuesto">Agregar</button>
                </div>
            </div>
            <div *ngFor="let presupuesto of datos_movilidad.presupuesto; let i = index" class="alert alert-success col-md-12 text-center">
                <div class="close" (click)="eliminarPresupuesto(i)">&times;</div>
                {{ presupuesto.tipo }} - {{ presupuesto.descripcion }}
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="nombre_acto_administrativo">Nombre acto administrativo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre_acto_administrativo" name="nombre_acto_administrativo" placeholder="Nombre del acto administrativo" [(ngModel)]="datos_movilidad.nombre_acto_administrativo" #nombre_acto_administrativo="ngModel" required>
                    <div *ngIf="nombre_acto_administrativo.invalid && (nombre_acto_administrativo.dirty || nombre_acto_administrativo.touched)" class="alert alert-danger">
                        <div *ngIf="nombre_acto_administrativo.errors.required">
                          El nombre acto administrativo es requerido
                        </div>
                      </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="enlace_acto_administrativo">Enlace acto administrativo: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="enlace_acto_administrativo" name="enlace_acto_administrativo" placeholder="Enlace del acto administrativo" [(ngModel)]="datos_movilidad.enlace_acto_administrativo" #enlace_acto_administrativo="ngModel" required>
                    <div *ngIf="enlace_acto_administrativo.invalid && (enlace_acto_administrativo.dirty || enlace_acto_administrativo.touched)" class="alert alert-danger">
                        <div *ngIf="enlace_acto_administrativo.errors.required">
                          El enlace acto administrativo es requerido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-center">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-lg btn-success" [disabled]="!datosMovilidadForm.valid">Envíar</button>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- Modal -->
<div id="modalPresupuesto" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Seleccione el tipo de presupuesto</h4>
        </div>
        <div class="modal-body">
            <div class="radio" *ngFor="let tipo_presupuesto of tipos_presupuesto">
                <label  class="radio-inline">
                    <input type="radio" name="tipo_presupuesto" ng-control="tipo_presupuesto" [value]="tipo_presupuesto.nombre" [(ngModel)]="presupuesto_seleccionado.tipo">
                    {{ tipo_presupuesto.nombre }}
                </label>
            </div>
            <input type="text" class="form-control" id="descripcion_presupuesto" name="descripcion_presupuesto" placeholder="Presupuesto o descripción" [(ngModel)]="presupuesto_seleccionado.descripcion" #enlace_presupuesto_seleccionado="ngModel" required>
            <div *ngIf="!presupuesto_seleccionado.tipo" class="alert alert-danger">
                <div >
                  El tipo de presupuesto y la descripcion son requeridos
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="!presupuesto_seleccionado.tipo" (click)="agregarPresupuesto()">Agregar</button>
        </div>
    </div>

  </div>
</div>