<app-nav></app-nav>

<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a routerLink="/inicio">CERI</a></li>
            <li class="active">Docentes Entrantes</li>
        </ul>
    </div>

    <div class="col-md-12 jumbotron">
        <h1>Formulario de Registro</h1>
        <hr class="my-4">
        <br>

        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="tipoMovilidad" class="col-lg-5 control-label">Tipo de Movilidad Entrante</label>
                    <div class="col-lg-5">
                        <select class="form-control" id="tipoMovilidad">
                      <option>Nacional</option>
                      <option>Internacional</option>
                    </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="duracion" class="col-lg-5 control-label">Clasificación por duración de la estancia</label>
                    <div class="col-lg-5">
                        <select class="form-control" id="duracion">
                      <option>Corta Estancia (Hasta un mes)</option>
                      <option>Mediana Estancia (Entre 1 y 12 meses)</option>
                      <option>Larga Estancia (Más de 12 meses)</option>
                    </select>
                    </div>
                </div>

                <hr class="my-4">

                <legend> <span class="glyphicon glyphicon-calendar"></span> Periodo</legend>
                <div class="form-group">
                    <label for="fechaIncio" class="col-lg-2 control-label">Fecha Inicio</label>
                    <div class="col-lg-3">
                        <input type="date" class="form-control" id="fechaInicio">
                    </div>
                    <label for="fechaFin" class="col-lg-2 control-label">Fecha Fin</label>
                    <div class="col-lg-3">
                        <input type="date" class="form-control" id="fechaFin">
                    </div>

                </div>

                <hr class="my-4">


                <div class="form-group">
                    <label for="duracion" class="col-lg-5 control-label">Categoría de la Movilidad</label>
                    <div class="col-lg-5">
                        <select class="form-control" id="duracion">
                      <option>Invitado Nacional (Evento Académico)</option>
                      <option>Invitada Internacional (Evento Académico)</option>
                      <option>Docente Visitante</option>
                      <option>Docente Experto</option>
                      <option>Actividades Académicas en el marco de becas o convocatorias</option>
                    </select>
                    </div>
                </div>
                <hr class="my-4">

                <div class="form-group">
                    <label for="duracion" class="col-lg-5 control-label">Dependencia receptora en la UD</label>
                    <div class="col-lg-5">
                        <select class="form-control" id="duracion">
                      <option>RECTORÍA</option>
                      <option>SECRETARÍA GENERAL - COMISIONES DE ESTUDIO</option>
                      <option>VICERRECTORÍA ACADÉMICA</option>
                      <option>FACULTAD DE ARTES -ASAB</option>
                      <option>FACULTAD DE CIENCIAS Y EDUCACIÓN</option>
                      <option>FACULTAD DE INGENIERÍA</option>
                      <option>FACULTAD DEL MEDIO AMBIENTE Y RECURSOS NATURALES</option>
                      <option>FACULTAD TECNOLÓGICA</option>
                      <option>DOCTORADO INTERINSTITUCIONAL EN EDUCACIÓN</option>
                      <option>DOCTORADO EN INGENIERÍA</option>
                      <option>DOCTORADO EN ESTUDIOS SOCIALES</option>
                      <option>CENTRO DE INVESTIGACIONES Y DESARROLLO CIENTÍFICO -CIDC</option>
                      <option>CENTRO DE RELACIONES INTERINSTITUCIONALES</option>
                      <option>CENTRO DE BIENESTAR INSTITUCIONAL</option>
                      <option>IDEXUD</option>
                      <option>ILUD</option>
                      <option>IEIE</option>
                      <option>IPAZUD</option>                        
                    </select>
                    </div>
                </div>
                <hr class="my-4">

                <legend><span class="glyphicon glyphicon-user"></span> Datos</legend>
                <div class="form-group">
                    <label for="tipoIdentificacion" class="col-lg-3 control-label">Tipo de Identificación</label>
                    <div class="col-lg-3">
                        <select class="form-control" id="tipoIdentificacion">
                            <option>Tarjeta de Identidad</option>
                            <option>Cédula de Ciudadanía</option>
                            <option>Cédula de Extranjería</option>
                            <option>Pasaporte</option>
                        </select>
                    </div>
                    <label for="identificacion" class="col-lg-3 control-label">Número de Identificación</label>
                    <div class="col-lg-3">
                        <input type="number" class="form-control" id="identificacion">
                    </div>
                </div>

                <div class="form-group">

                    <label for="pais" class="col-lg-3 control-label">País de Procedencia</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="pais">
                    </div>


                    <label for="nombre" class="col-lg-3 control-label">Nombre</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="nombre">
                    </div>
                </div>

                <div class="form-group">

                    <label for="areaConocimiento" class="col-lg-3 control-label">Área de Conocimiento</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="areaConocimiento">
                    </div>


                    <label for="concepto" class="col-lg-3 control-label">Concepto de su participación en la UD</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="concepto">
                    </div>
                </div>
                <hr class="my-4">

                <legend><span class="glyphicon glyphicon-briefcase"></span> Universidad</legend>
                <div class="form-group">

                    <label for="presupuesto" class="col-lg-3 control-label">Presupuesto Asigando </label>
                    <div class="col-lg-5 input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" id="presupuesto">
                        <span class="input-group-addon">.00</span>
                    </div>

                </div>

                <div class="form-group">

                    <label for="acto" class="col-lg-5 control-label">Acto administrativo del apoyo a la movilidad (Resolución - Contrato u otro)</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" id="acto">
                    </div>

                </div>

                <hr class="my-4">
                <br>

                <div class="form-group block-center">
                    <div class="col-lg-10 col-lg-offset-4">
                        <button type="reset" class="btn btn-default"> <span class="glyphicon glyphicon-remove-sign"></span> Cancelar</button>
                        <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-ok-circle"></span> Enviar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>