<app-nav></app-nav>

<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a routerLink="/inicio">CERI</a></li>
            <li class="active">Docentes Entrantes {{ prueba }}</li>
        </ul>
    </div>

    <div class="col-md-12 jumbotron">
        <h1 class="text-center">Docentes Entrantes</h1>
        <hr class="my-4">
        <br>
        <!--Formulario para buscar los datos de un docente-->
        <form class="form-horizontal" #buscarDatosForm="ngForm">
            <div class="form-group">
                <label class="control-label col-md-2" for="identificacion">Número de identificación:</label>
                <div class="col-md-7">
                    <input type="number" class="form-control" id="identificacion" name="identificacion" placeholder="Ingrese el número de identificación" [(ngModel)]="identificacion.valor" #identificacion="ngModel" required>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success" [disabled]="!buscarDatosForm.valid">Buscar</button>
                </div>
            </div>
        </form>
        <!--Formulario que muestra los datos del docente buscado-->
        <form class="form-horizontal" #datosEstudianteForm="ngForm" *ngIf="datos_persona">
            <legend class="text-center"><span class="glyphicon glyphicon-user"></span> Datos Docente</legend>

            <div class="form-group">
                <label class="control-label col-sm-2" for="nombres">Nombres:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="nombres" name="nombres" [(ngModel)]="datos_persona.nombres" #nombres="ngModel" readonly>
                </div>

                <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="datos_persona.apellidos" #apellidos="ngModel" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pais_procedencia">País de procedencia:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="pais_procedencia" name="pais_procedencia" [(ngModel)]="datos_persona.pais_procedencia" #pais_procedencia="ngModel" readonly>
                </div>

                <label class="control-label col-sm-2" for="direccion">Dirección:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="datos_persona.direccion" #direccion="ngModel" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="telefono">Teléfono:</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="datos_persona.telefono" #telefono="ngModel" readonly>
                </div>
            </div>
        </form>
        <div *ngIf="!datos_persona" class="alert alert-danger col-md-12">
            <span class="glyphicon glyphicon-warning"></span> No se encontro ningún estudiante
        </div>
        <!--Formulario con los datos de la movilidad-->
        <form class="form-horizontal" #datosMovilidadForm="ngForm" *ngIf="datos_persona">

            <legend class="text-center"><span class="glyphicon glyphicon-globe"></span> Datos Movilidad</legend>

            <div class="form-group">
                <label class="control-label col-sm-2" for="tipo_movilidad">Tipo de movilidad:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="tipo_movilidad" id="tipo_movilidad" [(ngModel)]="datos_movilidad.tipo_movilidad" #tipo_movilidad="ngModel" required disabled>
                        <option value="nacional">Nacional</option>
                        <option value="internacional">Internacional</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="fecha_inicio">Fecha de inicio:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" [(ngModel)]='datos_movilidad.fecha_inicio' #fecha_inicio="ngModel" required>
                </div>
                <label class="control-label col-sm-2" for="fecha_fin">Fecha de finalización:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" [(ngModel)]='datos_movilidad.fecha_fin' #fecha_fin="ngModel" required>
                </div>
            </div>
            <div *ngIf="datos_movilidad.fecha_inicio != '' && datos_movilidad.fecha_fin != ''" class="alert alert-success col-md-12 text-center">
                Clasificación por duración de la estancia: Corta estancia (Hasta dos meses) - Clasificación por duración de la estancia: Mediana estancia (Entre 2 y 12 meses) - Clasificación por duración de la estancia: Larga estancia (Mayor a 1 año)
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="categoria_movilidad">Categoria de la movilidad: </label>
                <div class="col-sm-10">
                    <select class="form-control" name="categoria_movilidad" id="categoria_movilidad" [(ngModel)]="datos_movilidad.categoria_movilidad" #categoria_movilidad="ngModel" required>
                        <option value="1">Invitado Nacional</option>
                        <option value="2">Invitado Internacional</option>
                        <option value="3">Docente Visitante</option>
                        <option value="4">Docente Experto</option>
                        <option value="5">Actividades Académicas en el marco de becas o convocatorias</option>
                        <option value="6">Residencia artística</option>
                        <option value="7">Par académico</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="dependencia">Dependencia receptora: </label>
                <div class="col-sm-10">
                    <select class="form-control" name="dependencia" id="dependencia" [(ngModel)]="datos_movilidad.dependencia" #dependencia="ngModel" required>
                        <option value="1">RECTORÍA</option>
                        <option value="2">SECRETARÍA GENERAL - COMISIONES DE ESTUDIO</option>
                        <option value="3">VICERRECTORÍA ACADÉMICA</option>
                        <option value="4">FACULTAD DE ARTES -ASAB</option>
                        <option value="5">FACULTAD DE CIENCIAS Y EDUCACIÓN</option>
                        <option value="6">FACULTAD DE INGENIERÍA</option>
                        <option value="7">FACULTAD DEL MEDIO AMBIENTE Y RECURSOS NATURALES</option>
                        <option value="8">FACULTAD TECNOLÓGICA</option>
                        <option value="9">DOCTORADO INTERINSTITUCIONAL EN EDUCACIÓN</option>
                        <option value="10">DOCTORADO EN INGENIERÍA</option>
                        <option value="11">DOCTORADO EN ESTUDIOS SOCIALES</option>
                        <option value="12">DOCTORADO EN ARTES</option>
                        <option value="13">CENTRO DE INVESTIGACIONES Y DESARROLLO CIENTÍFICO -CIDC</option>
                        <option value="14">CENTRO DE RELACIONES INTERINSTITUCIONALES</option>
                        <option value="15">CENTRO DE BIENESTAR INSTITUCIONAL</option>
                        <option value="16">IDEXUD</option>
                        <option value="17">ILUD</option>
                        <option value="18">IEIE</option>
                        <option value="19">IPAZUD</option> 
                        <option value="20">ACREDITACIÓN</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="area_conocimiento">Área de conocimiento:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="area_conocimiento" name="area_conocimiento" placeholder="Área de conocimiento" [(ngModel)]="datos_movilidad.area_conocimiento" #area_conocimiento="ngModel" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="concepto_participacion">Concepto de su participación:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="concepto_participacion" name="concepto_participacion" placeholder="Concepto de su participación" [(ngModel)]="datos_movilidad.concepto_participacion" #concepto_participacion="ngModel" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="institucion">Nombre de la IES, Institución o Empresa de origen:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="institucion" name="institucion" placeholder="Nombre de la IES, Institución o Empresa de destino" [(ngModel)]="datos_movilidad.institucion" #institucion="ngModel" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="presupuesto">Presupuesto asignado:</label>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#modalPresupuesto">Agregar</button>
                </div>
            </div>
            <div *ngFor="let presupuesto of datos_movilidad.presupuesto" class="alert alert-success col-md-12 text-center">
                {{ presupuesto.tipo }} - {{ presupuesto.descripcion }}
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="nombre_acto_administrativo">Nombre acto administrativo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre_acto_administrativo" name="nombre_acto_administrativo" placeholder="Nombre del acto administrativo" [(ngModel)]="datos_movilidad.nombre_acto_administrativo" #nombre_acto_administrativo="ngModel" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="enlace_acto_administrativo">Enlace acto administrativo: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="enlace_acto_administrativo" name="enlace_acto_administrativo" placeholder="Enlace del acto administrativo" [(ngModel)]="datos_movilidad.enlace_acto_administrativo" #enlace_acto_administrativo="ngModel" required>
                </div>
            </div>

            <div class="form-group text-center">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-lg btn-success" [disabled]="!datosMovilidadForm.valid">Envíar</button>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- Modal -->
<div id="modalPresupuesto" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Seleccione el tipo de presupuesto</h4>
        </div>
        <div class="modal-body">
            <div class="radio" *ngFor="let tipo_presupuesto of tipos_presupuesto">
                <label  class="radio-inline">
                    <input type="radio" name="tipo_presupuesto" ng-control="tipo_presupuesto" [value]="tipo_presupuesto.nombre" [(ngModel)]="presupuesto_seleccionado.tipo">
                    {{ tipo_presupuesto.nombre }}
                </label>
            </div>
            <input type="text" class="form-control" id="descripcion_presupuesto" name="descripcion_presupuesto" placeholder="Presupuesto o descripción" [(ngModel)]="presupuesto_seleccionado.descripcion">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="!presupuesto_seleccionado.tipo" (click)="agregarPresupuesto()">Agregar</button>
        </div>
    </div>

  </div>
</div>