<app-nav></app-nav>

<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li class="active">CERI</li>
        </ul>
    </div>

    <div class="col-md-12 jumbotron">
        <h1 class="text-center">Bienvenido {{ name }}</h1>
        <p class="text-center">
            Aquí podrá registrar toda la información respectiva a los diferentes tipos de 
            movilidad para realizar los informes. Ingrese en los módulos superiores para registrar 
            la información de acuerdo al tipo de movilidad.
        </p>
        <br>
        <p class="text-center">
            También encontrara el modulo de administración en donde podrá registrar, editar y eliminar
            Categorías de movilidad y Convenios.
        </p>
    </div>

</div>