<app-nav></app-nav>

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li class="active">CERI</li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Reportes</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                Tiempo <span class="caret"></span>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Corta</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Larga</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                Tipo Movilidad <span class="caret"></span>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Entrante</a></li>
                    <li><a href="#">Saliente</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                Tipo Persona <span class="caret"></span>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profesor</a></li>
                    <li><a href="#">Estudiante</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                Facultad <span class="caret"></span>
            </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Facultad Ingeniería</a></li>
                    <li><a href="#">Facultad Medio Ambiente</a></li>
                    <li><a href="#">Facultad Artes</a></li>
                    <li><a href="#">Facultad de Educación</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-md-9 jumbotron">
        <h1>Bienvenido</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-lg">Ver Más</a></p>
    </div>

</div>