<app-nav></app-nav>

<div class="container">

  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a routerLink="/inicio">CERI</a></li>
      <li class="active">Categorías de movilidad</li>
    </ul>
  </div>

  <div class="col-md-12 jumbotron">
    <h1 class="text-center">Administrar Categorías de Movilidad</h1>
    <hr class="my-4">
    <br>

    <form class="form-horizontal" #agregarCategoriaForm="ngForm">
      <div class="form-group">
        <label class="control-label col-md-2" for="categoria">Nombre de la categoría:</label>
        <div class="col-md-7">
            <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Ingrese el nombre de la categoría" [(ngModel)]="nueva_categoria.nombre" #categoria="ngModel" required>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success" [disabled]="!agregarCategoriaForm.valid" (click)="agregarCategoria()">Agregar</button>
        </div>
      </div>
    </form>

    <div class="col-md-12 table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre Categoría</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias_movilidad">
            <td>{{ categoria.Nombre }}</td>
            <td>
              <button type="button" class="btn btn-info btn-sm" (click)="seleccionarCategoria('editar',categoria)" title="Editar" data-toggle="modal" data-target="#modalEdicion">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="seleccionarCategoria('eliminar',categoria)" title="Eliminar" data-toggle="modal" data-target="#modalEliminacion">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

<!-- Edit Modal -->
<div id="modalEdicion" class="modal fade" role="dialog">
  <div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Ingrese el nuevo nombre de la categoría</h4> 
    </div>
    <div class="modal-body">
      <div class="input-group">
        <span class="input-group-addon">Nombre</span>
        <input type="text" class="form-control" placeholder="Categoría" [(ngModel)]="nombre_categoria">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="confirmarEdicion()" [disabled]="nombre_categoria === ''" data-dismiss="modal">Confirmar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>
  </div>

  </div>
</div>

<!-- Modal -->
<div id="modalEliminacion" class="modal fade" role="dialog">
  <div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">¿Esta seguro de eliminar la categoría de movilidad?</h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="confirmarEliminacion()" data-dismiss="modal">Confirmar</button>
      <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
    </div>
  </div>

  </div>
</div>